$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

$fs-16: 16px;	
$fs-25: 25px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$white: #fff;
$black: #000;
$primary-gradint: linear-gradient(to right, #f61c13 , #ef0b5a);

$imp: !important;	

