$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

$h1: 70px;
$h2: 65px;
$h3: 30px;
$p: 28px;
$fs-25: 25px;
$fs-16: 16px;	

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$hight-150: 150px;

$gray-bg-color: #f7f8fa;
$white: #fff;
$black: #000;
$primary-gradint: linear-gradient(to right, #f61c13 , #ef0b5a);

$p-100: 100px;
$p-10: 10px;
$p-20: 20px;

$imp: !important;	

